<div class="container-fluid">
  <app-soru-ekle *ngIf="authServis.girisKontrol"></app-soru-ekle>
  <hr>

  <div class="row">

    <div *ngFor="let soru of sorular | async; let i = index;" class="col-md-4 mt-4">
      <div class="card">
        <div class="card-header" role="button" (click)="router.navigate(['anasayfa', soru.id])">
          <span class="badge badge-info">Kategori: {{soru.kategori?.adi}}</span>
          <br>
          <span class="badge badge-info">{{i + 1}} - {{soru.uye?.adi + " " + soru.uye?.soyadi}}: </span> <span
          class="badge">{{soru.icerik}}</span>
          <br>
          <span class="badge badge-info">Beğeni: </span> <span class="badge">{{soru.begeniSayisi}}</span>

        </div>
        <div class="card-body">
          <div>
            <h5 class="text-center" *ngIf="soru.cevaplar?.length">Cevaplar</h5>
            <h5 class="text-center" *ngIf="!soru.cevaplar?.length">Henüz hiç cevap verilmemiş</h5>
            <div class="ml-3" *ngFor="let cevap of soru.cevaplar; let cevapIndex = index;">
              <span class="badge badge-secondary">{{cevapIndex + 1}} - {{cevap.uye?.adi + " " + cevap.uye?.soyadi}}
                :</span>
              <span class="badge">{{cevap.icerik}}</span>
              <button
                *ngIf="authServis.girisKontrol && (authServis.kullanici.uid === cevap.kullaniciId  || authServis.kullanici.uid === soru.kullaniciId)"
                (click)="cevabimiSil(cevap.id)" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>

          <hr>
          <div *ngIf="authServis.girisKontrol" class="col my-3">
            <app-cevap-ekle [soruId]="soru.id"></app-cevap-ekle>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
