<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand" href="#">Soru Cevap</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['anasayfa']" routerLinkActive="active" class="nav-link" href="#">Anasayfa</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['sorularim']" routerLinkActive="active" *ngIf="authServis.girisKontrol" class="nav-link"
           href="#">Sorularım</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['profilim']" routerLinkActive="active" *ngIf="authServis.girisKontrol" class="nav-link"
           href="#">Profilim</a>
      </li>
    </ul>

    <button *ngIf="authServis.girisKontrol" (click)="cikisYap()" type="button"
            class="btn btn-outline-danger form-inline my-2 my-lg-0">Çıkış Yap
    </button>

    <a [routerLink]="['giris']" *ngIf="!authServis.girisKontrol" type="button"
       class="btn btn-outline-success form-inline my-2 my-lg-0 mr-1">Giriş Yap</a>
    <a [routerLink]="['kayit']" *ngIf="!authServis.girisKontrol" type="button"
       class="btn btn-outline-success form-inline my-2 my-lg-0">Kayıt Ol</a>
  </div>
</nav>

<router-outlet></router-outlet>
